* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #232323; */
  background-color: #fff;
  text-align: center;
}

.todo_input {
  /* background-color: #313131; */
  border: none;
  border-radius: 6px;
  padding: 10px 0;
  outline: none;
  color: #000;
  width: 400px;
  border: none;
}

.todo_input:focus {
  border: none;
  outline: none;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5d86e5;
  padding: 5px 10px;
  border-radius: 8px;
}

.days {
  background-color: #42ff1c41;
  border-radius: 5px;
  margin: 0;
  height: max-content;
}

.container {
  display: flex;
  /* gap: 20px; */
}

/* sidebar */
.sidebar__container {
  height: 100vh;
  padding: 16px 10px 0 10px;
  background-color: #f1f4ff;
}
/* end sidebar */

/* todo task */
.todoTask__wrapper {
  padding: 20px;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}

/* end todo task */